<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/main.css">
    <%if(
            title==='New Post'||
            title==='Login'||
            title==='Signup'||
            title==='Edit Mode'||
            title==='Reset Password'
        ){%>
        <link rel="stylesheet" href="/css/forms.css"> 
    <%}%>
    <%if(title==='TheOpenBook'){%>
        <link rel="stylesheet" href="/css/feed.css"> 
    <%}%>
    <%if(
        title==='Reading Mode'||
        title==='Profile'
    ){%>
        <link rel="stylesheet" href="/css/singlePost.css"> 
    <%}%>
    <%if(
        title==='OTP'||
        title==='Token'
    ){%>
        <link rel="stylesheet" href="/css/otp.css">
    <%}%>
</head>
<body>