<nav class="nav">
    <a href="#" class="nav-list-item">FEED</a>
    <a href="#" class="nav-list-item">CREATE</a>
    <a href="#" class="nav-list-item">PROFILE</a>
    <a href="#" class="nav-list-item">FAVORITES</a>
</nav>