<nav class="nav">
    <a href="/" class="nav-list-item <%if(title==='TheOpenBook'){%>active<%}else{%><%}%>">FEED</a>
    <a href="/create" class="nav-list-item">CREATE</a>
    <a href="/profile" class="nav-list-item">PROFILE</a>
    <a href="/favorites" class="nav-list-item">FAVORITES</a>
</nav>