<%-include('./includes/head',{title:title})%>
<%-include('./includes/header')%>
<%-include('./includes/navbar',{isLoggedIn:isLoggedIn,title:title})%>
<main class="main">
    <h1>E:404 PAGE NOT FOUND</h1>
</main>
<%-include('./includes/tail')%>