.post-wrapper{
    position: relative;
    border: 2px solid white;
    width: 75%;
    height: 25%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post-heading{
    position: relative;
    height: 30%;
    width: fit-content;
    margin: auto;
}

.post-authour{
    position: relative;
    height: 20%;
    width: fit-content;
    float: right;
    margin-right: 5%;
}

.prev-page{
    position: absolute;
    bottom: 5%;
    left: 15%;
}

.next-page{
    position: absolute;
    bottom: 5%;
    right: 15%;
}

.page-indicator{
    position: relative;
    bottom: -5%;
    margin: auto;
}