.form{
    top:40vh;
    left: 50%;
    width: 85vw;
    height: 80vh;
    border: 2px solid #333;
}

.heading{
    width: 40vw;
    height: 4vh;
    top:10%;
    left: 5%;
    font-size: 4vh;
}

.heading-label{
    width: fit-content;
    height: fit-content;
    top:5%;
    left:5%;
    font-size: 4vh;
}

.content{
    top:25%;
    left:5%;
    width: 90%;
    height: 40%;
    resize: none;
    font-size: 4vh;
}

.content-label{
    width: fit-content;
    height: fit-content;
    top:18%;
    left: 5%;
    font-size: 4vh;
}


.submit{
    top:90%;
    left: 5%;
}

.reset{
    top:90%;
    right: 5%;
}

.signup{
    top: 40vh;
    left: 50vw;
    width: 80vw;
    height: 60vh;
    border: 2px solid #333;
}

.signup .button{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.email-label{
    font-size: 3vh;
    width: fit-content;
    height: fit-content;
    top:4%;
    left: 5%;
}

.signup-email{
    font-size: 3vh;
    height: 4vh;
    width: 90%;
    top:10%;
    left: 5%;
}

.username-label{
    font-size: 3vh;
    width: fit-content;
    height: fit-content;
    top:20%;
    left: 5%;
}

.signup-username{
    font-size: 3vh;
    height: 4vh;
    width: 90%;
    top:27%;
    left: 5%;   
}

.password-label{
    font-size: 3vh;
    width: fit-content;
    height: fit-content;
    top:37%;
    left: 5%;
}

.signup-password{
    font-size: 3vh;
    height: 4vh;
    width: 90%;
    top:44%;
    left: 5%;   
}

.confirm-password-label{
    font-size: 3vh;
    width: fit-content;
    height: fit-content;
    top:55%;
    left: 5%;
}

.signup-password-confirm{
    font-size: 3vh;
    height: 4vh;
    width: 90%;
    top:62%;
    left: 5%;  
}

.already-not-message{
    top: 80%;
    margin:auto;
    width: fit-content;
    height: fit-content;
}

.already-not-message a{
    width: fit-content;
    height: fit-content;
}

.image-label{
    left: 5%;
    top:68%;
    font-size: 4vh;
    height: fit-content;
    width: fit-content;
}

.image{
    left: 5%;
    top:75%;
    height: 4vh;
    width: 90%;
}

.preveiw{
    width: auto;
    padding: 0.2%;
    height: 15%;
    color: red;
    left:40%;
    top:80%;
}