.form{
    top:40vh;
    left: 50%;
    width: 85vw;
    height: 75vh;
    border: 2px solid white;
}

.heading{
    width: 40vw;
    height: 4vh;
    top:15%;
    left: 5%;
    font-size: 4vh;
}

.heading-label{
    width: fit-content;
    height: fit-content;
    top:5%;
    left:5%;
    font-size: 4vh;
}

.content{
    top:40%;
    left:5%;
    width: 90%;
    height: 40%;
    resize: none;
    font-size: 4vh;
}

.content-label{
    width: fit-content;
    height: fit-content;
    top:30%;
    left: 5%;
    font-size: 4vh;
}


.submit{
    top:90%;
    left: 5%;
}

.reset{
    top:90%;
    right: 5%;
}