*{
    margin:unset;
    padding:unset;
    background-color:#000;
    color:white;
    width:100vw;
    height:100vh;
    position:absolute;
}

.header{
    user-select: none;
    height:8vh;
    background-color:#333;
    z-index:1;
    text-align: center;
    font-size:6vh;
}

.main{
    padding-top:14vh;
    padding-left:2vw;
    height:86vh;
    width:98vw;
}

.main>*{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.nav{
    background-color: #333;
    height: 4vh;
    z-index: 1;
    top: 8vh;
    font-size: 3vh;
}

.nav-list-item{
    user-select: none;
    position: relative;
    z-index: inherit;
    float: left;
    color: white;
    background-color: inherit;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    height: 4vh;
    width: fit-content;
}

.nav-list-item:hover{
    background-color:#111;
}

.active{
    color: gold;
}