*{
    margin:unset;
    padding:unset;
    background-color:#000;
    color:white;
    width:100vw;
    height:100vh;
    position:absolute;
    text-decoration: none;
}

body{
    background-color: #000;
    height: 100vh;
    width: 100vw;
}

.centered{
    top:50%;left:50%;
    transform: translate(-50%,-50%);
}

.header{
    user-select: none;
    height:8vh;
    background-color:#333;
    z-index:1;
    text-align: center;
    font-size:6vh;
}

.main{
    padding-top:14vh;
    padding-left:2vw;
    padding-bottom: 2vw;
    height:fit-content;
    width:98vw;
}

.main>*{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.nav{
    background-color: #333;
    height: 4vh;
    z-index: 1;
    top: 8vh;
    font-size: 3vh;
}

.nav-list-item{
    user-select: none;
    position: relative;
    z-index: inherit;
    float: left;
    color: white;
    background-color: inherit;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    height: 4vh;
    width: fit-content;
}

.nav-list-item:hover{
    background-color:#111;
}

.active{
    color: gold;
}

.button{
    border: 2px solid #333;
    border-radius: 5px;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    font-size: 0.6cm;
    text-decoration: none;
    color: white;
}

.errorMsg{
    position: absolute;
    top: 20%;
    left: 15%;
    color: red;
    border: 1px solid red;
    padding: 0.25rem;
}

.login-logout{
    float: right;
}