*{
    margin:unset;
    padding:unset;
    background-color:#000;
    color:white;
    width:100vw;
    height:100vh;
    position:absolute;
}

.header{
    height:8vh;
    background-color:#333;
    z-index:1;
    display:flex;
    font-size:6vh;
}

.header .one{
    width:8vw;
    height:inherit;
    z-index:inherit;
    background-color:inherit;
    text-align:center;
}

.header .two{
    width:inherit;
    height:inherit;
    text-align:center;
    background-color:inherit;
}

.main{
    padding-top:9vh;
    padding-left:2vw;
    height:fit-content;
    width:fit-content;
}

.main>*{
    position: relative;
    width: fit-content;
    height: fit-content;
}