.wrapper{
    position: relative;
    width: 90%;height: fit-content;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2rem;
}

.heading{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    font-size: 6vh;
}

.content{
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 2rem;
    font-size: 4vh;
}

.profile-post{
    position: relative;
    display: block;
    width: 80%;
    height: fit-content;
    left: 5%;
    padding: 3%;
    text-decoration: none;
    color: white;
    border: 1px dotted white;
}

.post-authour{
    top:4vh;
    right: 3%;
    height: 20%;
    width: fit-content;
}

.edit-post{
    top: 8vh;
    right: 3%;
}

.delete-post-form{
    top:0%;
    left: 0%;
    width: 0%;
    height: 0%;
}

.delete-post{
    position: relative;
    top: 15vh;
    left: 84vw;
}

.num{
    position: absolute;
    top:20vh;
    left: 10vw;
    z-index: 10;
    width: fit-content;
    height: fit-content;
}

.up{
    width: 0%;
    height: 0%;
    top: 18vh;
    left: 5vw;
    z-index: 10;
    font-size: 4vh;
}

.upac{
    color: red;
}

.down{
    width: 0%;
    height: 0%;
    top:18vh;
    left:15vw;
    z-index: 10;
    font-size: 4vh;
}

.downac{
    color: rgb(0, 115, 150);
}

.post-image{
    position: relative;
    margin: 5%;
    width:auto;
    height: 30vh;
}

.comments{
    position: absolute;
    top:15%;
    left:45%;
}